/* resets */
body,
h1,
h2,
ul {
  margin: 0;
}

header {
  position: fixed;
  padding: 10px;
  background-color: rgba(155, 206, 181, 0.8);
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#vintage-revival {
  font-family: "Pacifico", cursive;
  color: #161514;
  font-size: 35px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

.fa-cart-shopping {
  position: absolute;
  right: 35px;
  top: 12px;
  font-size: 22px;
  color: #161514;
  cursor: pointer;
}

#cart-counter {
  position: absolute;
  top: 4px;
  right: 24px;
  z-index: 2;
  color: black;
  font-size: 16px;
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 18px;
}

#section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 150px;
  background-color: #fff6e9;
}

#section-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

section h2 {
  font-family: "Commissioner", sans-serif;
  color: #b85c3c;
  margin-bottom: 30px;
}

#section-container section h2:first-child {
  margin-top: -30px;
}

section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid goldenrod;
}

section p {
  font-family: "Roboto", sans-serif;
  color: #161514;
}

#plushie-container {
  border: none;
}

#section-container img {
  width: 250px;
  height: 250px;
  border-radius: 15%;
  padding: 25px;
  border: 2px solid goldenrod;
  margin: 10px 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

ul {
  display: flex;
  align-items: space-evenly;
}

#item-container li img {
  height: 150px;
}

.hidden {
  display: none;
}

.cart-button {
  background-color: #e5af7d;
  transition: background-color 0.4s ease;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  color: rgb(42, 40, 40);
  font-family: "Commissioner", sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cart-button:hover {
  background-color: rgba(229, 175, 125, 0.8);
}

#current-cart {
  position: fixed;
  height: 75%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(237, 203, 208);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
  overflow: scroll;
  border-radius: 15px;
  padding-right: 30px;
}

#current-cart img {
  border-radius: 10%;
}

#current-cart li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-between;
  flex-wrap: wrap; */
  list-style: none;
  border-bottom: 1px solid black;
  padding: 20px 0;
  font-family: "roboto";
}

#current-cart p {
  text-align: right;
  font-family: "roboto";
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
}

#cash-button,
#credit-button {
  background-color: #9bceb5;
  color: rgb(44, 42, 42);
  font-family: "Roboto", sans-serif;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  width: 100px;
  text-align: center;
}

#cash-button:hover,
#credit-button:hover {
  background-color: #b2d7c5;
}

#cash-button {
  margin-right: 10px;
}

#cash-checkout,
#credit-checkout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
}

#cash-checkout-form-container {
  width: 90%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 6px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cash-submit {
  cursor: pointer;
  font-size: 16px;
  width: 165px;
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  background: gold;
  color: black;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#cash-submit:hover {
  background-color: #ffd700;
}

#cash-submit:active {
  transform: scale(0.98);
}

#cash-container-total {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  color: darkslategray;
  padding-bottom: 20px;
}

#cash-on-hand {
  border: none;
  border-radius: 6px;
  padding: 4px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#cash-submit {
  margin: 10px;
}

#item-container {
  display: flex;
  flex-direction: column;
}

/* ------------------ */

#credit-card-form {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 6px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-header {
  height: 40px;
  padding-top: 20px;
  border-bottom: 1px solid #e1e8ee;
  text-align: center;
}

#form-body {
  padding: 30px 10px 0 10px;
}

#card-details {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  color: darkslategray;
}

#cardholder-name,
#card-number {
  width: 97%;
  margin-bottom: 20px;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#cardholder-name {
  margin-top: 20px;
}

#month-container select,
#year-container select {
  width: 49%;
  margin-bottom: 20px;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#month-container select {
  float: left;
}

#year-container select {
  float: right;
}

#cvv-input input {
  float: left;
  width: 120px;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background: white;
}

#cvv-digits {
  font-size: 12px;
  float: left;
  margin-bottom: 20px;
}

#cvv-digits p {
  margin: 6px 6px;
}

#submit-button-credit {
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 12px;
  background: gold;
  color: black;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#submit-button-credit:hover {
  background-color: #ffd700;
}

#submit-button-credit:active {
  transform: scale(0.98);
}

#receipt-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding-right: 40px;
  overflow: auto;
  z-index: 9999;
}

#receipt-container h3 {
  text-align: center;
}

#item-receipt-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

#item-receipt-container li {
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid black;
  padding: 20px 0;
  background-color: white;
}

#item-receipt-container img {
  height: 150px;
}

#item-receipt-container p {
  margin: 4px;
  background-color: white;
}

.payment-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

#payment-text {
  font-family: "roboto";
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  padding-left: 5px;
}

#cart-delete-button {
  padding: 5px 10px;
  color: rgb(84, 79, 79);
  font-weight: bold;
  border-radius: 10%;
  border: none;
  background-color: rgb(237, 203, 208);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#cart-delete-button:hover {
  background-color: #f3d3d3;
}

#cart-delete-button:active {
  transform: scale(0.98);
}

#cash-delete-button,
#credit-delete-button {
  display: flex;
  margin: 15px;
  color: rgb(108, 102, 102);
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#receipt-delete-button {
  margin: 15px 34px;
  color: rgb(108, 102, 102);
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#cash-delete-button:hover,
#credit-delete-button:hover,
#receipt-delete-button:hover {
  background-color: #f1f1f1;
}

#cash-delete-button:active,
#credit-delete-button:active,
#receipt-delete-button:active {
  transform: scale(0.98);
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    text-align: center;
  }
  .fa-cart-shopping {
    position: absolute;
    right: 45px;
    top: 15px;
    font-size: 25px;
  }
  #cart-counter {
    position: absolute;
    top: 8px;
    right: 35px;
    z-index: 2;
  }

  #vintage-revival {
    font-size: 70px;
  }

  #section-container {
    padding-top: 150px;
  }
  #section-container section {
    margin: -10px;
  }

  #section-container section h2:first-child {
    margin-top: 30px;
  }

  #current-cart li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 20px 0;
  }
  #cash-checkout-form-container {
    width: 75%;
    height: 80%;
  }

  #credit-card-form {
    width: 75%;
    height: 80%;
  }

  #card-details {
    font-size: 34px;
  }
}
